@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #faf3e0;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* header --------------------------------------------- */
header {
  z-index: 9999;
  position: fixed;
  left: -20px;
  top: -4px;
  height: 107px;
  background-color:#000000;
  margin-bottom: 20px;
  box-shadow: 0px 15px 10px #b7b7ae73;  width: 102%;
  align-items: center;
  display: inline-flex;
  background-position: center;
}
  header nav  {
    width: 70%;
    margin: 29px auto auto 21%;
  }
  header nav ul li {
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 100;
    margin-left: 2%;
    margin-right: 2%;
  }
  a{
    text-decoration: none;
    color:white;
    padding-left: 50px
  }
  header nav ul li:hover {
    background-color: #57575745;
  }

  .navbar a {
    float: left;
    font-size: 26px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 4%;
    margin-right: 0%;
    
  }
  
  
  .dropdown .dropbtn {
    font-size: 26px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 0px 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(61, 54, 54);
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0px;
    width: 128px;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
     display: inline-flex;
      text-align: center;
      justify-content: space-between;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .pp{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  }


  
  #logoName{
    font-family: 'Sacramento', cursive;
    font-size: 100%;
    color: #FFFFFF;
  }
  #logo{
    font-family: 'Sacramento', cursive;
    font-size: 190%;
    color: #FFFFFF;
    display:inline-flex;
    align-items: center;
    position: absolute;
    width: 260px;
    padding: 1px;
  }
  #logo img{
    width: 92px;
    margin: -17px;
    margin-top: -6%;
    margin-left: auto;
  }
  #logo p{
    margin: 8px;
    margin-top: 18%;
    font-size: 105%;
  }
  ul{
    margin-top: -6%;
    margin-left: 60px;
  
  }
  #cart{
    font-family: 'Sacramento', cursive;
    position:absolute;
    right: 40px;
    font-size:100%;
    color: #FFFFFF;
    display:block;
    align-items: center;
    margin-top: 0%;
    padding: 5px;
  }
  #cart img{
    width: 50px;
    height: 55px;
    margin-top: 10%;
  }
  #cartName{
    font-family: 'Sacramento', cursive;
    font-size: 170%;
    color: #FFFFFF;
    padding-top: 30%;
  }
  #cart a {
    display: flex;
    margin: -21px;
    padding:0px;
    align-items: center;
  }
  #cart a *{
    margin: -4px;
  }

  /* header ----------------------------------------------------------------------------- */

  #general{
    margin-top: 10%;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 150%;
    line-height: 30px;
  }


  /* AboutUs ---------------------------------------------------------------------------- */
.wrapper {
  margin-top: 8%;
}

.wrapper h1{
  font-family: 'Sacramento', cursive;
  font-weight:bold;
  font-size: 52px;
  margin-bottom: 100px;
  text-align: center;
}

.team{
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.team .teamMember{
  background: #fff;
  margin: 5px;
  margin-bottom: 80px;
  width: 300px;
  padding: 20px;
  line-height: 23px;
  color: black;
  position: relative;
}

.team .teamMember h3{
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-weight: bold;
  margin-top: 50px;
}

.team .teamMember p.role{
  color: blueviolet;
  font-size: 13px;
  text-transform: uppercase;
  margin: 12px 0;
}

.team .teamMember .teamImg{
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-60%);
  background: #fff;
}

.team .teamMember .teamImg img{
  width: 120px;
  height: 120px;
  padding: 5px;
}

/* AboutUs -----------------------------------------------------------------------*/

/* Footer ----------------------------------------------------------------------- */
footer {
  clear: both;
  color: #FFFFFF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#000000;
  width: 100%;
  margin-left: 0%;
}
