 main {
  top: 100px;
 }
  

 
  #cartName p{
   font-size: 27.2px;
   position: relative;
   color:white;
   left:55px;
   bottom:35px;
   /* visibility:hidden; */
  }
 
 
 
  td,tr,th{
   width:100px;                   /*  //// recheck///*/
   height:25px; 

 }
 

 tr{
   margin-top: 20px;
 }
 
  table img{
   display: block;
   width:100px;
   height:50px;
  text-align: center;
  position: relative;
  left: 35px;
 
 }


 table hr{
   
      width: 675%;
       display: block;
      unicode-bidi: isolate;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      margin-inline-start: auto;
      margin-inline-end: auto;
      overflow: hidden;
      border-style: inset;
      border-width: 1px;
      margin-left:25%;
      border: 1px solid #ad1010b9 ;
  }

 table{
   padding:10px;
   padding-left: 5px;
   text-align: center;
   border: solid #ad1010b9 5px;
   margin-left: 170px;
   margin-top:25px;
   width:75%;
   font-family: Arial, Helvetica, sans-serif;
  
   
 }


 #cartTable
 {
   height:100%;
   width:95%;
   padding-top: 20px;
   margin-top: 25px;
   text-align: center;
  


 }
 
 #cartTable h1{
   text-align: left;
   font-family: 'Open Sans Condensed', sans-serif;
   color:#ad1010b9;
}


h3{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
}
 #cartTable h3{
  text-align: left;
  font-family: 'Lobster Two', cursive;;
  color:#ad1010b9;
}

 button{
   height:30px;
   padding: 5px 10px;
   background-color: black;
   border-radius: 2px;
   margin-top: 20px;
   color:white;
   border: black;
 }
 
 button:hover{
  background-color:rgb(81,80,80);
  

 }
 

 

 /* footer{
  clear: both;
  color: #FFFFFF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding-top: 6px;
  padding-bottom: -9px;
  background-color:#000000;
  margin-top: 584px;
  width: 100%;
  margin-left: 0%;
  
  } */



.open-button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  opacity: 1;
  position: relative;
  top:15px;
  left:539.5px;
  width: 180px;
  border-radius: 3px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left:430px;
  /* border:  solid #0a0a0a; */
  z-index: 9999999;
}

/* Add styles to the form container */
.form-container {
  max-width: 465px;
 height: 470px;
  padding:15px;
  /* background-color: #faf3e0; */
  background-color: white;
  border: solid #ad1010b9 5px;
   text-align: left;
   margin-right:150px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width:395px;
  padding: 10px;
  /* margin: 10px 0 10px 0; */
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ad1010b9;
  outline: none;
}

/* //Set a style for the submit/login button */
.form-container .btn {
   /* background-color: #4CAF50;  */
   background-color: black;
  color: white;
  padding: 2px 5px 2px 5px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  opacity: 1;
  display: inline;
  position: relative;
  bottom:50px;
  
}  

#red{
position: relative;
left:230px;
bottom:110px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: .8;
}




#myForm p{
 position: relative;
 margin-left: 5px;
 text-indent: none;
 margin-top: 0px;
 
}




.method{
  margin:0 0 0 0;

}

#VISA{
  position: relative;
  left:30px;
  top:0px;

}


#MaterCard{
  position: relative;
  bottom:45px;
  left:210px;
  margin-bottom: 0px;
}

#firstM{
  position: relative;
  bottom: 20px;
  left:45px;
  margin-bottom: 0px;
}

#secondM{
  position: relative;
  bottom: 65px;
  left:225px;
  margin-bottom: 0px;
}
 

input{
  position: relative;
  bottom:70px;
}
#input1{
  position: relative;
  top:0px;
}
#iban{
  position: relative;
  bottom:70px;
}

#pin{
  position: relative;
  bottom:70px;
}
#logoName{
  font-family: 'Sacramento', cursive;
  font-size: 100%;
  color: #FFFFFF;
  display:inline;
  

  
}
#logo{
  font-family: 'Sacramento', cursive;
  font-size: 190%;
  color: #FFFFFF;
  display:inline-flex;
  align-items: center;
  position: absolute;
  width: 260px;
  padding: 1px;
}
#logo img{
  width: 100px;
  margin: -17px;
  margin-top: -2%;
}
#logo p{
  margin: 8px;
  margin-top: 23%;
  font-size: 105%;
}
  h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200%;
} 

#cart{
  position: relative;
  right:25px;
} 

#cartName{
  position: relative;
  top:0px;
  font-size: 27.2px;
  width: 130px;
  padding-left: 4px;

}






















/* 
//scrollbar// */

html {
    display: block;
} 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ad1010b9;
    box-shadow: inset 0 0 5px rgb(77 71 71);
    border-radius: 10px;
}

/* footer
  clear: both;
  color: #FFFFFF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#000000;
  margin-top: 144px;
  width: 100%;
  margin-left: 0%;
  margin-bottom: -1%;
  position: relative; */
  /* width: 100%; */


 
  footer {
    margin-bottom: -10px;
    width: 1358px;
    margin-left: -10px;
    margin-top: 300px;
    padding-top: 20px;
}
#cart a {
  display: flex;
  margin: -21px -104px -21px -21px ;  
  padding:0px;
  align-items: center;
}